:root {
  /* colors priamry */
  --clr-netural-100: hsla(0, 0%, 100%, 1);
  --clr-netural-200: hsla(353, 17%, 9%, 0.8);

  /* font weight */
  --fw-bold: 900;
  --fw-semi-bold: 700;
  --fw-regular: 500;

  /* font sizes */
  --fs-900: 4.75rem; /* 76 */
  --fs-850: 4.375rem; /* 70 */
  --fs-800: 3.25rem; /* 52 */
  --fs-700: 1.5rem; /* 24 */

  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-price: var(--fs-850);
  --fs-body: var(--fs-700);

  /* Font family */
  --ff-primary: "Poppins", sans-serif; /* for body*/
  --ff-secondary: "Sofia Sans", sans-serif; /* for headings */

  --ff-heading: var(--ff-secondary);
  --ff-body: var(--ff-primary);

  /* Product specific colors */
  --linear-greadent_product-one: linear-gradient(
    105.54deg,
    #f4a764 -2.93%,
    #ffdec2 72.14%
  );
  --linear-greadent_product-two: linear-gradient(
    105.54deg,
    #adb0b0 -2.93%,
    #e1e1e1 72.14%
  );
  --linear-greadent_product-three: linear-gradient(
    105.54deg,
    #30a357 -2.93%,
    #75e39a 72.14%
  );
  --linear-greadent_product-four: linear-gradient(
    105.54deg,
    #f24f4f -2.93%,
    #ffa895 72.14%
  );
}

/* CSS RESET */

html,
body {
  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom CSS */

.button-signup {
  border-radius: 999px;
  width: 5.75rem;
  height: 2.25rem;
  background: var(--clr-netural-200);
}

/* Header */

header {
  font-family: var(--ff-body);
  display: grid;
  grid-template-columns: 1fr 0.75fr 0.25fr;
  align-items: center;
  gap: 1.25rem;
  height: min-content;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.signup-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* BODY */

.body-container {
  padding: 3.1875rem 9.6875rem;
}

/* Main */

.product_linearGradient {
  animation: fadeOut 2s ease-out;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  opacity: 0;
}

.product__container {
  font-family: var(--ff-body);

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-areas:
    "title image"
    "des image"
    "price image"
    "social image";

  align-items: center;
  justify-content: center;

  margin-top: 9rem;

  grid-column-gap: 8%;
}

/* area Naming */

.product-haeding {
  grid-area: title;

  align-self: flex-end;
}

.product-description {
  grid-area: des;
  line-height: 2;

  text-align: justify;

  /* margin-top: 7%; */

  max-width: 38ch;

  align-self: center;
}
.product-price {
  grid-area: price;

  align-self: flex-start;
}
.social-list {
  grid-area: social;
  /* margin-top: auto; */
  margin: 0;
}
.product-image_wrapper {
  grid-area: image;
}

/* Products */
.product-haeding,
.product-subHeading {
  font-family: var(--ff-heading);
}

/* Product - images - carousel */
.product-image_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  margin-inline: auto;
}

.product-image_wrapper > * {
  display: inline-block;
}

.navigation-btn {
  cursor: pointer;
  width: 3.75rem;
  height: 3.75rem;
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
  z-index: 1;
  opacity: 0.8;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.previous__btn {
  left: 0;
}
.next__btn {
  right: 0;
}

.productImage {
  position: absolute;
  transition: left 1s ease;
  animation: slideInOut 1s ease;
  /* animation: slideInOut 3s cubic-bezier(0.4, 0, 1, 1.27); */
  /* animation-delay: .2s; */
}

.product-image_wrapper::after {
  content: "";
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 16%;
  height: 0;
  transform: translateX(-50%);
  background: black;
  border-radius: 999;
  opacity: 0.2;
  box-shadow: 0 0 12px 10px rgba(0, 0, 0, 1);
  /* backdrop-filter: blur(10px); */
  transition: opacity 0.5s ease-in-out;

  /* animation: shadow 2s ease-in-out infinite; */
}

/* Product activation */

/* social - list */
.social-list {
  display: flex;
  gap: 1.875rem;
  align-items: flex-start;
  justify-content: start;
  padding: 0;
}

.social-list > * > * {
  height: 3.75rem;
  width: 3.75rem;
}

/* Animations */

/* Fade animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* z-index: -1; */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Floating animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

/* slide in out */

@keyframes slideInOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: 0.6;
    transform: scale(0.6);
  }
}

/* Shadow animation */
/* @keyframes shadow {
  0% {
    box-shadow: 0 0 12px 10px rgba(0, 0, 0, 1);
  }
  50% {
    box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 12px 10px rgba(0, 0, 0, 1);
  }
} */

/* Utility classes */

/* Glass effect */

.glass_effect {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}

/* Text colors */
.text-neturla-100 {
  color: var(--clr-netural-100);
}
.text-neturla-200 {
  color: var(--clr-netural-200);
}

/* background colors */
.bg-netural-100 {
  background: var(--clr-netural-100);
}
.bg-netural-200 {
  background: var(--clr-netural-200);
}

/* Font weight */
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

/* Font size */
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.6;
  min-width: max-content;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
  min-width: max-content;
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-price {
  font-size: var(--fs-price);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-850 {
  font-size: var(--fs-850);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}

/* Product specifick colors */
#product-1-linearGradient {
  background-image: var(--linear-greadent_product-one);
}
#product-2-linearGradient {
  background-image: var(--linear-greadent_product-two);
}
#product-3-linearGradient {
  background-image: var(--linear-greadent_product-three);
}
#product-4-linearGradient {
  background-image: var(--linear-greadent_product-four);
}

.text-align-center {
  text-align: center;
}

/* Removing list styles */

.list-style-type-none {
  list-style-type: none;
}

.activeImage {
  position: relative;
  left: 0;
  opacity: 1;
  animation: slideInOut 1s ease;
  /* animation: slideInOut 1s cubic-bezier(0.4, 0, 1, 1.27); */
  /* animation: floating 2s ease-in-out infinite; */
}

.activeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  opacity: 1;

  animation: fadeIn 0.5s ease-in;
}

@media (min-width: 1000px) {
  .product-image_wrapper {
    min-width: max-content;
  }
}

@media (max-width: 1550px) {
  html,
  body {
    font-size: 14px;
  }

  .product__container {
    height: 100%;
  }

  .body-container {
    padding: 4dvh 5dvw;
    height: 100dvh;
  }
}

@media (max-width: 1400px) {
  html,
  body {
    font-size: 13px;
  }

  :root {
    --fs-900: 4.5rem;
    --fs-850: 4.125rem;
    --fs-800: 3rem;
    --fs-700: 1.5rem;
  }

  .product__container {
    grid-column-gap: 5%;
    margin-top: 8rem;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }

  .product__container {
    grid-column-gap: 3%;
    margin-top: 6rem;
  }
}

@media (max-width: 1000px) {
  :root {
    --fs-900: 4rem;
    --fs-850: 3.625rem;
    --fs-800: 2.5rem;
    --fs-700: 1.5rem;

    --fs-price: var(--fs-800);
  }

  .body-container {
    padding: 1dvh 2dvw;
    height: 100dvh;
  }

  .product__container {
    grid-template-columns: 1fr;

    gap: 0.8rem;

    justify-content: center;
    align-items: flex-start;

    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "title title"
      "image image"
      "des des"
      "price social";

    margin-top: 1rem;
    height: 100%;
  }

  .product-haeding {
    justify-self: center;
  }

  .product-image_wrapper {
    max-height: 54vh;
    min-width: 30dvw;
  }
  .productImage {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-inline: auto;
    align-self: flex-end;
  }

  .product-description {
    margin-top: 0;
    max-width: 100%;
  }

  .social-list {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  /* :root{
    --fs-900: 3rem;
    --fs-850: 2rem;
    --fs-800: 1.5rem;
    --fs-700: 1rem;

  } */

  .body-container {
    height: 80dvh;
  }

  .product__container {
    margin-top: 0;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  header {
    padding: 0;
    margin: 0;

    grid-template-columns: 1fr 1fr;
    gap: 10dvw;

    justify-content: space-between;
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    padding: 1rem 0;

    /* Glass effect */

    background: rgba(255, 255, 255, 0.25);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(255, 255, 255, 0.24);
  }

  .header-nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .productImage {
    min-width: 80%;
  }
}

@media (max-width: 480px) {
  :root {
    --fs-900: 2.5rem;
    --fs-850: 2.125rem;
    --fs-800: 2rem;
    --fs-700: 1.4rem;

    --fs-price: var(--fs-850);
  }

  .product__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;

    grid-template-areas:
      "title title"
      "image image"
      "des des"
      "price social";

    gap: 1rem;

    align-items: center;

    margin: 0;

    height: 100%;
  }
}

@media (max-width: 580px) {
  :root {
    font-size: 11px;
  }

  .product-description {
    /* max-height: 100px; */

    /* hidding the scrollbar
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    } */
  }

  .product-haeding {
    min-width: 0;
  }
  /*
  .product-description {
    font-size: var(--fs-body);
  }

  .product-price {
    font-size: var(--fs-price);
  }

  .product-haeding,
  .product-subHeading {
    text-align: center;
  } */
}

@media (max-width: 394px) {
  .productImage {
    width: 86%;
    height: 86%;
    margin-inline: auto;
  }
}
